@model List<YiTao.Modules.Bll.Models.LunBo>
@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/webuploader/webuploader.js"></script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var uploader1;
            uploader1 = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,
                multiple: false,
                // swf文件路径
                swf: '~/Scripts/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/Management/Upload/Upload',
                // 选择文件的按钮。
                pick: '#picker1',
                threads: 1
            });
            uploader1.on('uploadAccept', function (object, ret) {
                if (ret._raw == "error")
                    alert("好像出错了，请刷新页面重试");
                else {
                    $("#imageCover1").attr("src", ret._raw);
                }
            });
            uploader1.on('uploadError', function (file) {
                alert("好像出错了，请刷新页面重试");
            });
        });
    </script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var uploader2;
            uploader2 = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,
                multiple: false,
                // swf文件路径
                swf: '~/Scripts/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/Management/Upload/Upload',
                // 选择文件的按钮。
                pick: '#picker2',
                threads: 1
            });
            uploader2.on('uploadAccept', function (object, ret) {
                if (ret._raw == "error")
                    alert("好像出错了，请刷新页面重试");
                else {
                    $("#imageCover2").attr("src", ret._raw);
                }
            });
            uploader2.on('uploadError', function (file) {
                alert("好像出错了，请刷新页面重试");
            });
        });
    </script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var uploader3;
            uploader3 = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,
                multiple: false,
                // swf文件路径
                swf: '~/Scripts/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/Management/Upload/Upload',
                // 选择文件的按钮。
                pick: '#picker3',
                threads: 1
            });
            uploader3.on('uploadAccept', function (object, ret) {
                if (ret._raw == "error")
                    alert("好像出错了，请刷新页面重试");
                else {
                    $("#imageCover3").attr("src", ret._raw);
                }
            });
            uploader3.on('uploadError', function (file) {
                alert("好像出错了，请刷新页面重试");
            });
        });
    </script>
</head>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>轮播</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body" align="center">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>图片一</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" align="center">
                            <thead>
                                <tr>
                                    <th class="col-md-4">
                                        <div class=" tile image double selected" style="margin:0 auto;vertical-align: middle;">
                                            <div class="tile-body">
                                                <img id="imageCover1" alt="@Model[0].ImageUrl" src="@Model[0].ImageUrl">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="col-md-8">
                                        <div>
                                            <div>
                                                <input id="ClickUrl1" value="@Model[0].ClickUrl" type="text" class="form-control my-form-control" placeholder="输入点击图片导航到的链接地址" />
                                                <input id="LunBoId1" value="@Model[0].LunBoId" type="text" hidden="hidden" />
                                            </div>
                                            <div class="btns">
                                                <div id="picker1">选择图片</div>
                                                <button id="save1" class="btn green" data-toggle="modal">
                                                    保存修改
                                                </button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>图片二</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" align="center">
                            <thead>
                                <tr>
                                    <th class="col-md-4">
                                        <div class=" tile image double selected" style="margin:0 auto;vertical-align: middle;">
                                            <div class="tile-body">
                                                <img id="imageCover2" alt="@Model[1].ImageUrl" src="@Model[1].ImageUrl">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="col-md-8">
                                        <div>
                                            <div>
                                                <input id="ClickUrl2" value="@Model[1].ClickUrl" type="text" class="form-control my-form-control" placeholder="输入点击图片导航到的链接地址" />
                                                <input id="LunBoId2" value="@Model[1].LunBoId" type="text" hidden="hidden" />
                                            </div>
                                            <div class="btns">
                                                <div id="picker2">选择图片</div>
                                                <button id="save2"  class="btn green" data-toggle="modal">
                                                    保存修改
                                                </button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>图片三</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" align="center">
                            <thead>
                                <tr>
                                    <th class="col-md-4">
                                        <div class=" tile image double selected" style="margin:0 auto;vertical-align: middle;">
                                            <div class="tile-body">
                                                <img id="imageCover3" alt="@Model[2].ImageUrl" src="@Model[2].ImageUrl">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="col-md-8">
                                        <div>
                                            <div>
                                                <input id="ClickUrl3" value="@Model[2].ClickUrl" type="text" class="form-control my-form-control" placeholder="输入点击图片导航到的链接地址" />
                                                <input id="LunBoId3" value="@Model[2].LunBoId" type="text" hidden="hidden" />
                                            </div>
                                            <div class="btns">
                                                <div id="picker3">选择图片</div>
                                                <button id="save3" class="btn green" data-toggle="modal">
                                                    保存修改
                                                </button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $("#save1").click(function () {
            $.ajax(
                {
                    url: "/Management/MainPage/Lunbo",
                    type: "POST",
                    data:
                        {
                            LunBoId: $("#LunBoId1").val(),
                            ImageUrl: $("#imageCover1").attr("src"),
                            ClickUrl: $("#ClickUrl1").val()
                        },
                    success: function (data, textStatus) {
                        if (data == "200") {
                            location.reload()
                        } else if (data == "100") {
                            alert("请重新编辑！");
                        } else {
                            alert("未知原因");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        location.reload()
                    },
                    error: function () {
                        alert("好像出错了，请刷新页面重试");
                    }
                })
        });
    </script>
<script type="text/javascript">
    $("#save2").click(function () {
        $.ajax(
            {
                url: "/Management/MainPage/Lunbo",
                type: "POST",
                data:
                    {
                        LunBoId: $("#LunBoId2").val(),
                        ImageUrl: $("#imageCover2").attr("src"),
                        ClickUrl: $("#ClickUrl2").val()
                    },
                success: function (data, textStatus) {
                    if (data == "200") {
                        location.reload()
                    } else if (data == "100") {
                        alert("请重新编辑！");
                    } else {
                        alert("未知原因");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    location.reload()
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            })
    });
</script>

<script type="text/javascript">
    $("#save3").click(function () {
        $.ajax(
            {
                url: "/Management/MainPage/Lunbo",
                type: "POST",
                data:
                    {
                        LunBoId: $("#LunBoId3").val(),
                        ImageUrl: $("#imageCover3").attr("src"),
                        ClickUrl: $("#ClickUrl3").val()
                    },
                success: function (data, textStatus) {
                    if (data == "200") {
                        location.reload()
                    } else if (data == "100") {
                        alert("请重新编辑！");
                    } else {
                        alert("未知原因");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    location.reload()
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            })
    });
</script>

}