@model YiTao.Modules.Bll.Models.ZhuanTi

@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-primary btn-lg" data-toggle="modal" href="#basic">更换专题首页封面</a>
<p style="display:none">@Model.ZhuanTiId</p>
<p style="display:none">@Model.Type</p>
<p style="display:none">@Model.CreateTime</p>
<h4> 名称:@Model.Name</h4>
<hr />
<h4>当前封面图片</h4>
<div class=" tile image double selected" style="vertical-align: middle; max-height: 300px; max-width: 400px; height:auto">
    <div class="tile-body">
        <img src="@Model.ImageUrl" />
    </div>
</div>
<hr />
@if (@Model.ZhuanTiId > 0)
{
    <a href="/Management/MainPage/ShangPinItem/2" class="btn btn-primary btn-lg">管理商品</a>
}

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">更改每日十件封面</h4>
            </div>
            <form action="~/Management/MainPage/ZhuanTi2Cover" method="post">
                <div class="modal-body">

                    <input type="hidden" value="@Model.ZhuanTiId" name="ZhuanTiId" />
                    <input type="hidden" value="@Model.Type" name="Type" />
                    <input type="hidden" value="@Model.CreateTime" name="CreateTime" />
                    <input type="text" class="form-control my-form-control" value="@Model.Name" name="Name" placeholder="名称" />
                    <input type="hidden" value="@Model.ImageUrl" id="inputCover" name="ImageUrl" />

                    <div class=" tile image double selected" style="vertical-align: middle; max-height: 200px; max-width: 300px;">
                        <div class="tile-body">
                            <img id="imageCover" alt="" src="">
                        </div>
                    </div>
                    <span id="uploadify" class="btn dark fileinput-button"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">取消</button>
                    <input type="submit" class="btn blue" value="保存" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section PageSpecificJavascriptIncludes{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/uploadify-v3.1/jquery.uploadify-3.1.min.js"></script>
    <link href="~/Scripts/uploadify-v3.1/uploadify.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#uploadify').uploadify({
                uploader: '/Home/Upload',           // 服务器端处理地址
                swf: '/Scripts/uploadify-v3.1/uploadify.swf',    // 上传使用的 Flash
                //width: 60,                          // 按钮的宽度
                //height: 23,                         // 按钮的高度
                buttonText: "上传封面",                 // 按钮上的文字
                buttonCursor: 'hand',                // 按钮的鼠标图标
                fileObjName: 'Filedata',            // 上传参数名称
                // 两个配套使用
                fileTypeExts: "*.gif; *.jpg; *.png;*.bmp;*.jpeg;",             // 扩展名
                fileTypeDesc: "请选择 jpg png 文件",     // 文件说明
                auto: true,                // 选择之后，自动开始上传
                multi: false,               // 是否支持同时上传多个文件
                removeTimeout: 0,
                'onUploadSuccess': function (file, data, response) {
                    if (data == "error") {
                        alert('服务器错误，请重新上传');
                    } else {
                        $("#imageCover").attr("src", data);
                        $("#inputCover").attr("value", data);
                    }
                }
            });
        });
    </script>
}