@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品分类</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="~/js/index.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
@using YiTao.Modules.Bll.Models
@model List<DaLei>
<body>
   <div id="warp">
        <!------------------	Header ------------------------------>
        @*<div class="header">
            <h1 class="city">大连市</h1>
            <a href="http://www.baidu.com">
                <img src="/img/buttons/01.png" class="header_right_pic">
            </a>
            <div id="clear"></div>
            <span class="pagetitle">亿淘</span>
        </div>*@
       <div id="top">
           <div class="top_title">亿淘</div>
           <a href="#" class="select" id="myModal">@YiTao.Web.Areas.Watch.Common.CityContext.Current.CityName</a>
           <a class="top_sign" href="#"><img src="/img/sign05.png" /></a>
           <a class="top_search" href="/Watch/Yitao/Search"><img src="/img/search_02.png" /></a>
       </div>
        <!----------------------	Header End 	-------------------     ->
        <!--------------	banner ----------------------->
        <div class="banner">
            <div class="container">
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (LunBo item in ViewData["lunbolist"] as List<LunBo>)
                        {
                            <li>
                                <!--ClickUrl的值不对-->
                                <a href="@item.ClickUrl"><img src="@item.ImageUrl" /></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--------------	banner ----------------------->
        <div id="goods_category">
            <!--商品分类-->
            @{
                if (Model.Count() != null)
                {
                    foreach (DaLei item in Model)
                    {
                        <div class="goods_list">
                            <!--块-->
                            <a href="/watch/yitao/xiaoleilist/@item.DaLeiId"><img src="@item.ImageUrl" alt="" /></a>
                            <a href="/watch/yitao/xiaoleilist/@item.DaLeiId" class="goods_title">@item.Name</a>
                        </div><!--块-->
                    }
                }
            }
        </div><!--商品分类-->
    </div>
    <div id="dialog-message" title="选择城市" style="display:none">
        <div id="warp">
            <div id="search" style="padding:0 5%;">
                <ul>
                    @foreach (var item in ViewData["Area"] as List<YiTao.Modules.Bll.Models.Area>)
                    {
                        <li class="login_list">
                            <a href="/Watch/Yitao/AreaInfo?id=@item.Id">@item.Name</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/Scripts/CollectAction.js" type="text/javascript"></script>
    <script>
    $(function () {
        $("#myModal").click(function () {
            $("#dialog-message").dialog({
                modal: true,
                buttons: {
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        })

    });
    </script>

</body>
</html>
