@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    @using YiTao.Modules.Bll.Models
    @model List<ZhuanTiItem>
    <meta charset="utf-8">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
</head>

<body>
    <div class="warp">
        <!------------------	Header ------------------------------>
        <div class="header">
            <a href="javascript:history.go(-1)">
                <img src="/img/buttons/09.png" class="header_left_pic">
            </a>
            <a href="http://www.baidu.com">
                <img src="/img/buttons/01.png" class="header_right_pic">
            </a>
            <div id="clear"></div>
            <span class="pagetitle">收纳用品</span>
        </div>
        <div id="blank"></div><!--Blank area -->
        <!----------------------	Header End 	-------------------->        
        <!--------------	banner ----------------------->
        <div class="banner">
            <div class="container">
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (LunBo item in ViewData["lunbolist"] as List<LunBo>)
                        {
                            <li>
                                <a href="@item.ClickUrl"><img src="@item.ImageUrl" /></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--------------	banner ----------------------->
        <!-----------product list----------------------->
        <div class="product_list">
            @foreach (ZhuanTiItem item in Model)
            {
                <div class="list_box">
                    <!--产品类表-->
                    <a href="/watch/yitao/ZhuantiItemDetail/@item.ZhuanTiItemId"><img class="box_left" src="@item.ImageUrl" alt="" /></a>
                    <ul class="box_right">
                        <li>
                            <a href="/watch/yitao/ZhuantiItemDetail/@item.ZhuanTiItemId" class="title" style="font-size:12px;">@item.Name</a>
                        </li>
                        <!------	返积分 和 包邮 ----------------------->
                        <li class="pic">
                            <a href="#" class="pic_a">
                                <img src="/img/buttons/integral_pic.png" alt="" />
                            </a>
                            <a href="#" class="pic_span">返积分 @item.FanJiFen</a>
                            <a href="#" class="pic_a">
                                <img src="/img/buttons/post_pic.png" alt="" />
                            </a>
                            <a href="#" class="pic_span">
                                @{
                if (item.BaoYou == 1)
                {
                    <span>包邮</span>
                }
                else
                {
                    <span>不包邮</span>
                }
                                }
                            </a>
                        </li>
                        <!------	返积分 和 包邮 End---------------->
                        <li name="name_font" class="font">
                            <span>￥<i>@item.Price</i></span>
                            <div class="right_font">
                                <a href="/watch/yitao/ZhuantiItemDetail/@item.ZhuanTiItemId"><img src="/img/buttons/input_01.png" alt="" /></a>
                                @*<span class="discount">5折</span>*@
                                <span class="delete">￥@item.YuanPrice</span>
                            </div>
                        </li>
                    </ul>
                </div><!--产品类表结束-->
            }
        </div>
        <!-----------product list End------------------->
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</html>
