@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    @model YiTao.Modules.Bll.Models.ShangPin
    <meta charset="utf-8">
    <title>商品详情</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="~/js/index.js"></script>
</head>

<body>
   <div id="warp">
        <!------------------	Header ------------------------------>
        @*<div class="header">
            <a href="javascript:history.go(-1)">
                <img src="/img/buttons/09.png" class="header_left_pic">
            </a>
            <div id="clear"></div>
            <span class="pagetitle">宝贝详情</span>
        </div>
        <div id="blank" style="height:50px;"></div>*@
        <div id="top">
            <div class="top_title">宝贝详情</div>
            <a class="top_return" type="button" href="javascript:history.go(-1)" />
            <a class="top_search" href="#"><img src="/img/search_02.png" /></a>
        </div>
        <!----------------------	Header End 	-------------------->
        <!---------------------- 商品详情 --------------------------->
        <div id="merchandise_news">
            <img class="product_01" src="@Model.ImageUrl" width="1920" height="1175" alt="" />
            <div class="product_bottom" id="div_product">
                @{
                    if (Model.CollectCount.HasValue)
                    {
                        <div class="product_lucency">收藏数：@Model.CollectCount<i></i></div>
                    }
                    else
                    {
                        <div class="product_lucency">收藏数：0<i></i></div>
                    }
                }
                
                <div class="product_lucency">月销量：<i>@Model.MonthlySales</i></div>
            </div>
            <div class="row">
                <div class="news_title">@Model.Name </div>
                <div class="CollectBox">
                    @{
                        if (ViewBag.AllCollectStatus == 1)
                        {
                            string UnCollectedClass, CollectedClass;
                            if (ViewBag.IsCollected == 0)
                            {
                                UnCollectedClass = "";
                                CollectedClass = "hide";
                            }
                            else
                            {
                                UnCollectedClass = "hide";
                                CollectedClass = "";
                            }

                            <a class="ToCollect collect-img @UnCollectedClass" data-account="@ViewBag.AccountId" data-type="0" data-shangpinid="@Model.ShangPinId">
                                <img src="../../../img/collect.png" />
                            </a>
                            <a class="ToCollect @UnCollectedClass" data-account="@ViewBag.AccountId" data-type="0" data-shangpinid="@Model.ShangPinId">收藏</a>
                            <a class="pic_a Anti-Collect  collect-img @CollectedClass " data-account="@ViewBag.AccountId" data-type="0" data-shangpinid="@Model.ShangPinId">
                                <img src="../../../img/Collected.png" />
                            </a>
        
                        }
                        else
                        {
                            <a href="~/Watch/Auth/Login" class="pic_a">
                                <img src="../../../img/collect.png" />
                            </a>
                            <a href="~/Watch/Auth/Login" class="pic_span">收藏</a>
                        }
                    }


                </div>
            </div>
            <div class="news_con">
                <div class="news_font">促销：<span class="news_font01">￥<i>@Model.Price</i></span></div>
                <div class="news_font">原价：<span class="news_font02">￥<i>@Model.YuanPrice</i></span></div>
                <div class="news_font03">运费：<span>至 @Model.ToWhere</span></div>
                <div class="news_font04">@Model.TransportationPrice</div>
            </div>
            <a class="purchase" href="@Model.Url" target="_blank"><img class="purchase01" src="/img/buttons/purchase01.png" width="1724" height="186" alt="" /></a>
        </div>
        <!---------------------- 商品详情 结束------------------------>
        @Html.Action("CommentList", new { Shangpinid = Model.ShangPinId, type = 3 })
    </div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script src="~/Scripts/CollectAction.js" type="text/javascript"></script>
</html>
