@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品分类</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="~/js/index.js"></script>
</head>
@using YiTao.Modules.Bll.Models
@model List<TowLei>
<body>
   <div id="warp">
        <!------------------	Header ------------------------------>
        @*<div class="header">
            <a href="javascript:history.go(-1)">
                <img src="/img/buttons/09.png" class="header_left_pic">
            </a>
            <h2 class="my_pagetitle" style="margin-top:0.2em;"></h2>
            <div id="clear"></div>
        </div>
        <div id="blank"></div>*@
        <div id="top">
            <div class="top_title">@ViewBag.DaleiName</div>
            <a class="top_return" type="button" href="javascript:history.go(-1)" />
            <a class="top_search" href="#"><img src="/img/search_02.png" /></a>
        </div>
        <!----------------------	Header End 	-------------------     ->
        <!--------------	banner ----------------------->
        @*<div class="banner">
                <div class="container">
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (LunBo item in ViewData["lunbolist"] as List<LunBo>)
                            {
                                <li>
                                    <!--ClickUrl的值不对-->
                                    <a href="@item.ClickUrl"><img src="@item.ImageUrl" /></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>*@
        <!--------------	banner ----------------------->
        <div id="goods_category">
            <!--商品分类-->
            @{
                if (Model.Count() != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="goods_list">
                            <!--块-->
                            <a href="/watch/yitao/ThreeLei/@item.TwoLeiId"><img src="@item.ImageUrl" alt="" /></a>
                            <a href="/watch/yitao/ThreeLei/@item.TwoLeiId" class="goods_title">@item.Name</a>
                        </div><!--块-->
                    }
                }
            }
        </div><!--商品分类-->
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
