@using Webdiyer.WebControls.Mvc
@model PagedList<YiTao.Modules.Bll.Models.TuiSong>
@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            推送管理 <small>列表</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Management/MainPage/Lunbo">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Management/Tuisong/">推送管理</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#">列表</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>推送管理</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th class="col-md-1">编号</th>
                            <th class="col-md-4">标题</th>
                            <th class="col-md-3">创建时间</th>
                            <th class="col-md-4">操作</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.Title</th>
                                <th>@item.CreateTime</th>
                                <th>
                                    @if (item.Ok == 0)
                                    {
                                        <a href="/Management/Tuisong/Detial?id=@item.Id" class="btn btn-xs blue btn-editable">
                                            <i class="fa fa-search"></i> 查看详细
                                        </a>
                                        <a href="/Management/Tuisong/Edit?id=@item.Id" class="btn btn-xs yellow btn-editable">
                                            <i class="fa fa-pencil"></i> 编辑
                                        </a>
                                        <button onclick="javascript:tuisong(this)" data-myid="@item.Id" class="btn btn-xs purple btn-editable">
                                            <i class="fa fa-link"></i> 推送
                                        </button>
                                        <a href="/Management/Tuisong/Del?id=@item.Id" class="btn btn-xs red btn-removable" onclick="return confirm('确认删除？');">
                                            <i class="fa fa-times"></i> 删除
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/Management/Tuisong/Detial?id=@item.Id" class="btn btn-xs blue btn-editable">
                                            <i class="fa fa-search"></i> 查看详细
                                        </a>
                                        <button id="" class="btn btn-xs purple btn-editable">
                                            <i class="fa fa-check"></i> 推送成功
                                        </button>
                                        <a href="/Management/Tuisong/Del?id=@item.Id" class="btn btn-xs red btn-removable" onclick="return confirm('确认删除？');">
                                            <i class="fa fa-times"></i> 删除
                                        </a>
                                    }
                                </th>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
        <div style="text-align:center; margin-left:-2em;">
            @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $("#tuisongbtn1").click(function () {
            if (confirm('确认推送')) {
                $("#tuisongbtn1").html('正在推送中');
                $.get("/Management/Tuisong/Tuisong", { id: $("#tuisongbtn1").data("myid") }, function (data) {
                    if (data == 0) {
                        alert('网络问题，请稍后重试');
                    }
                    else {
                        alert('推送成功');
                        location.replace();
                    }
                });
            }

        })
        $("#editbtn1").click(function () {
            window.location = "/Management/Tuisong/";
        })

        function tuisong(obj) {
            if (confirm('确认推送')) {
                $(obj).text('正在推送中');
                $.get("/Management/Tuisong/Tuisong", { id: $(obj).data("myid") }, function (data) {
                    if (data == 0) {
                        alert('网络问题，请稍后重试');
                    }
                    else {
                        alert('推送成功');
                        window.location = "/Management/Tuisong/";
                    }
                });
            }

        }
        function edit() {
            alert('2');
        }
    </script>
}