@using Webdiyer.WebControls.Mvc
@model PagedList<YiTao.Modules.Bll.Models.Account>
@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>会员基本管理</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-warning" style="margin-right:1em;" href="javascript:history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i> 返回 </a>
                        <button id="sample_editable_1_new" class="btn green" data-toggle="modal" href="#basic">
                            新建账号 <i class="fa fa-plus"></i>
                        </button>

                    </div>
                </div>
                <table class="table table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th class="col-md-2">用户名</th>
                            <th class="col-md-2">密码</th>
                            <th class="col-md-3">Email</th>
                            <th class="col-md-3">电话</th>
                            <th class="col-md-2" colspan="1">管理</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Name</th>
                                <th>@item.Password</th>
                                <th>@item.Email</th>
                                <th>@item.Phone</th>
                                <th class="col-md-2">
                                    <button my="edit" class="btn btn-xs yellow btn-editable" data-toggle="modal">
                                        编辑 <i class="fa fa-edit"></i>
                                    </button>
                                </th>
                                @*<th class="col-md-2">
                                    <button class="btn green" data-toggle="modal">
                                        轨迹分析 <i class="fa fa-edit"></i>
                                    </button>
                                </th>*@
                            </tr>
                        }
                    </thead>
                </table>
                <div style="text-align:center; margin-left:-2em;">
                    @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">创建新用户</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="form_sample_3" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label class="control-label">用户名</label>
                            <div class="input-icon">
                                <i class="fa fa-user"></i>
                                @Html.TextBox("username", String.Empty, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", placeholder = "用户名", id = "username", name = "username" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">密码</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                @Html.Password("password", String.Empty, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", placeholder = "密码", id = "password", name = "password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                @Html.TextBox("email", String.Empty, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", placeholder = "Email", id = "email", name = "email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">电话</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                @Html.TextBox("phone", String.Empty, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", placeholder = "电话", id = "phone", name = "phone" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="register" class="btn blue">创建新账户</button>
                        <button type="submit" class="btn default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="basic2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">编辑用户基本资料</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="form_sample_3" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label">用户名</label>
                            <div class="input-icon">
                                <i class="fa fa-user"></i>
                                <input class="form-control placeholder-no-fix" type="text" readonly="readonly" autocomplete="off" placeholder="用户名" id="username" name="username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label ">密码</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="密码" id="password" name="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="input-icon">
                                <i class="fa fa-user"></i>
                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" id="email" name="email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">电话</label>
                            <div class="input-icon">
                                <i class="fa fa-user"></i>
                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="电话" id="phone" name="phone" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="edit2" class="btn blue">修改</button>
                        <button type="button" id="edit3" class="btn default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $("#register").click(function () {
            $.ajax(
                {
                    url: "/Management/Account/Register",
                    type: "POST",
                    data:
                        {
                            Name: $("#username", "#basic").val(),
                            Password: $("#password", "#basic").val(),
                            Email: $("#email", "#basic").val(),
                            Phone: $("#phone", "#basic").val()
                        },
                    beforeSend: function (XMLHttpRequest) {
                        $("#basic").modal('hide');
                    },
                    success: function (data, textStatus) {
                        if (data == "200") {
                            location.reload()
                        } else if (data == "100") {
                            alert("已有该用户名！");
                        } else {
                            alert("未知原因");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        location.reload()
                    },
                    error: function () {
                        alert("好像出错了，请刷新页面重试");
                    }
                })
        });
    </script>
    <script type="text/javascript">
        $('button[my="edit"]', '#sample_1').die().live('click', function () {
            $("#basic2").find("#username").val($(this).parents("th").parents("tr").children("th").eq(0).text());
            $("#basic2").find("#password").val($(this).parents("th").parents("tr").children("th").eq(1).text());
            $("#basic2").find("#email").val($(this).parents("th").parents("tr").children("th").eq(2).text());
            $("#basic2").find("#phone").val($(this).parents("th").parents("tr").children("th").eq(3).text());
            $("#basic2").modal('show');
        });
    </script>
    <script type="text/javascript">
        $("#edit2").click(function () {
            $.ajax(
                     {
                         url: "/Management/Account/CommonEdit",
                         type: "POST",
                         data:
                             {
                                 Name: $("#username", "#basic2").val(),
                                 Password: $("#password", "#basic2").val(),
                                 Email: $("#email", "#basic2").val(),
                                 Phone: $("#phone", "#basic2").val()
                             },
                         beforeSend: function (XMLHttpRequest) {
                             $("#basic2").modal('hide');
                         },
                         success: function (data, textStatus) {
                             if (data == "200") {
                                 location.reload()
                             } else if (data == "100") {
                                 alert("无该用户！");
                             } else {
                                 alert("未知原因");
                             }
                         },
                         complete: function (XMLHttpRequest, textStatus) {
                             location.reload()
                         },
                         error: function () {
                             alert("好像出错了，请刷新页面重试");
                         }
                     })
        });
    </script>
    <script type="text/javascript">
        $("#edit3").click(function () {
            $("#basic2").modal('hide');
        });
        $("#index").removeClass("open");
        $("#userManage").addClass("open");
    </script>
}
