<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @using YiTao.Modules.Bll.Models
    @model List<DuiHuanItem>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>积分兑换</title>
    @*<link type="text/css" href="/css/unify.css" rel="stylesheet" />
    <link type="text/css" href="/css/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="/js/index.js"></script>*@    
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/common.css" rel="stylesheet" />
</head>

<body>
    <div id="warp">
        <div id="integral">            
            <div class="integral_title">
                <div class="title_left">0元换购</div>
                <div class="title_right01"><a href="/watch/duihuan/choujiang">积分抽奖</a></div>
            </div>
            <div class="integral_num">您当前的积分是：
            @{
                Account acc = ViewData["account"] as Account;
                <i>@acc.JiFen</i>
            }
            </div>
        </div>
        <!--上端导航部分结束-->

        <div class="product_list" id="duihuan">
            <p style="font-size:18px;color:red;">@TempData["infor"]</p>
            @foreach(DuiHuanItem item in Model)
            {
            <div class="list_box" style="border-top:#808080 solid">
                <!--产品类表-->
                <a href="#"><img class="box_left" src="@item.ImageUrl" width="394" height="301" alt="" /></a>
                <ul class="box_right">
                    <li><a href="#" class="title">@item.Name</a></li>
                    <li class="pic"><a href="#" class="pic_a"><img src="/img/post_pic.png" width="64" height="64" alt="" /></a><a href="#" class="pic_span">包邮</a></li>
                    <li name="name_font" class="font">
                        <span>积分 @item.JiFen</span>
                        <div class="right_font">
                            <a class="duihuanBefore show">
                                <img src="/img/input_02.png" width="262" height="97" alt="" />
                            </a>
                            <a class="btn btn-warning duihuanEnd hidden" href="/watch/duihuan/HuanGou/@item.DuiHuanItemId">确认?</a>
                            <span class="discount">价值:<i>@item.Price</i>元</span>
                        </div>
                    </li>
                </ul>
            </div><!--产品类表结束-->   
            }                  
        </div>
        </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script>
        //function DuihuanComfirm(id)
        //{
        //    $("#duihuanBefore"+id).addClass("hidden");
        //    $("#duihuanEnd"+id).removeClass("hidden");
        //    $("#duihuanEnd"+id).addClass("show");
        //}
        $(".duihuanBefore").click(function () {
            $(this).parent().find(".duihuanBefore").removeClass("show").addClass("hidden");
            $(this).parent().find(".duihuanEnd").removeClass("hidden").addClass("show");
        })
    </script>
    <style>
        .hidden {
            display:none;
        }
        .show {
            display:block;
        }
    </style>
</body>
</html>
