@model List<YiTao.Modules.Bll.Models.ChouJiangItem>
@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/webuploader/webuploader.js"></script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var uploader1;
            uploader1 = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,
                multiple: false,
                // swf文件路径
                swf: '~/Scripts/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/Management/Upload/Upload',
                // 选择文件的按钮。
                pick: '#picker1',
                threads: 1
            });
            uploader1.on('uploadAccept', function (object, ret) {
                if (ret._raw == "error")
                    alert("好像出错了，请刷新页面重试");
                else {
                    $("#imageCover1").attr("src", ret._raw);
                }
            });
            uploader1.on('uploadError', function (file) {
                alert("好像出错了，请刷新页面重试");
            });
        });
    </script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var uploader2;
            uploader2 = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,
                multiple: false,
                // swf文件路径
                swf: '~/Scripts/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/Management/Upload/Upload',
                // 选择文件的按钮。
                pick: '#picker2',
                threads: 1
            });
            uploader2.on('uploadAccept', function (object, ret) {
                if (ret._raw == "error")
                    alert("好像出错了，请刷新页面重试");
                else {
                    $("#imageCover2").attr("src", ret._raw);
                }
            });
            uploader2.on('uploadError', function (file) {
                alert("好像出错了，请刷新页面重试");
            });
        });
    </script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var uploader3;
            uploader3 = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,
                multiple: false,
                // swf文件路径
                swf: '~/Scripts/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/Management/Upload/Upload',
                // 选择文件的按钮。
                pick: '#picker3',
                threads: 1
            });
            uploader3.on('uploadAccept', function (object, ret) {
                if (ret._raw == "error")
                    alert("好像出错了，请刷新页面重试");
                else {
                    $("#imageCover3").attr("src", ret._raw);
                }
            });
            uploader3.on('uploadError', function (file) {
                alert("好像出错了，请刷新页面重试");
            });
        });
    </script>
</head>
<div class="row">
    <div class=".col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>抽奖商品管理</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body" align="center">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>一等奖</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" align="center">
                            <tr>
                                <th class="col-md-4">
                                    <div class=" tile image double selected" style="margin:0 auto;vertical-align: middle;">
                                        <div class="tile-body">
                                            <img id="imageCover1" alt="@Model[0].ImageUrl" src="@Model[0].ImageUrl">
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="btns">
                                        <div id="picker1">选择图片</div>
                                    </div>
                                </th>
                                <th class="col-md-8">
                                    <input id="ChouJiangId1" value="@Model[0].ChouJiangId" type="text" hidden="hidden" />
                                    <span>奖品名</span>
                                    <input id="Name1" value="@Model[0].Name" type="text" class="form-control my-form-control" placeholder="奖品名" />
                                    <span>奖品数量</span>
                                    <input id="Count1" value="@Model[0].Count" type="text" class="form-control my-form-control" placeholder="奖品数量" />
                                    <span>奖品描述</span>
                                    <input id="Description1" value="@Model[0].Description" type="text" class="form-control my-form-control" placeholder="奖品描述" />
                                    <button id="save1" class="btn green" data-toggle="modal">
                                        保存修改
                                    </button>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>二等奖</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" align="center">
                            <tr>
                                <th class="col-md-4">
                                    <div class=" tile image double selected" style="margin:0 auto;vertical-align: middle;">
                                        <div class="tile-body">
                                            <img id="imageCover2" alt="@Model[1].ImageUrl" src="@Model[1].ImageUrl">
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="btns">
                                        <div id="picker2">选择图片</div>
                                    </div>
                                </th>
                                <th class="col-md-8">
                                    <input id="ChouJiangId2" value="@Model[1].ChouJiangId" type="text" hidden="hidden" />
                                    <span>奖品名</span>
                                    <input id="Name2" value="@Model[1].Name" type="text" class="form-control my-form-control" placeholder="奖品名" />
                                    <span>奖品数量</span>
                                    <input id="Count2" value="@Model[1].Count" type="text" class="form-control my-form-control" placeholder="奖品数量" />
                                    <span>奖品描述</span>
                                    <input id="Description2" value="@Model[1].Description" type="text" class="form-control my-form-control" placeholder="奖品描述" />
                                    <button id="save2" class="btn green" data-toggle="modal">
                                        保存修改
                                    </button>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>三等奖</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" align="center">
                            <tr>
                                <th class="col-md-4">
                                    <div class=" tile image double selected" style="margin:0 auto;vertical-align: middle;">
                                        <div class="tile-body">
                                            <img id="imageCover3" alt="@Model[0].ImageUrl" src="@Model[2].ImageUrl">
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="btns">
                                        <div id="picker3">选择图片</div>
                                    </div>
                                </th>
                                <th class="col-md-8">
                                    <input id="ChouJiangId3" value="@Model[2].ChouJiangId" type="text" hidden="hidden" />
                                    <span>奖品名</span>
                                    <input id="Name3" value="@Model[2].Name" type="text" class="form-control my-form-control" placeholder="奖品名" />
                                    <span>奖品数量</span>
                                    <input id="Count3" value="@Model[2].Count" type="text" class="form-control my-form-control" placeholder="奖品数量" />
                                    <span>奖品描述</span>
                                    <input id="Description3" value="@Model[2].Description" type="text" class="form-control my-form-control" placeholder="奖品描述" />
                                    <button id="save3" class="btn green" data-toggle="modal">
                                        保存修改
                                    </button>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $("#save1").click(function () {
            $.ajax(
                {
                    url: "/Management/ShangPin/ChouJiangShangPin",
                    type: "POST",
                    data:
                        {
                            //ChouJiangId: $("#ChouJiangId1").val(),
                            Count: $("#Count1").val(),
                            Description: $("#Description1").val(),
                            Name: $("#Name1").val(),
                            Type: 1,
                            ImageUrl: $("#imageCover1").attr("src"),
                            AreaId: "@ViewBag.id"
                        },
                    success: function (data, textStatus) {
                        if (data == "200") {
                            location.reload()
                        } else if (data == "100") {
                            alert("请重新编辑！");
                        } else {
                            alert("未知原因");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        location.reload()
                    },
                    error: function () {
                        alert("好像出错了，请刷新页面重试");
                    }
                })
        });
    </script>
    <script type="text/javascript">
        $("#save2").click(function () {
            $.ajax(
                {
                    url: "/Management/ShangPin/ChouJiangShangPin",
                    type: "POST",
                    data:
                        {
                            //ChouJiangId: $("#ChouJiangId2").val(),
                            Count: $("#Count2").val(),
                            Description: $("#Description2").val(),
                            Name: $("#Name2").val(),
                            Type: 2,
                            ImageUrl: $("#imageCover2").attr("src"),
                            AreaId: "@ViewBag.id"
                        },
                    success: function (data, textStatus) {
                        if (data == "200") {
                            location.reload()
                        } else if (data == "100") {
                            alert("请重新编辑！");
                        } else {
                            alert("未知原因");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        location.reload()
                    },
                    error: function () {
                        alert("好像出错了，请刷新页面重试");
                    }
                })
        });
    </script>
    <script type="text/javascript">
        $("#save3").click(function () {
            $.ajax(
                {
                    url: "/Management/ShangPin/ChouJiangShangPin",
                    type: "POST",
                    data:
                        {
                            //ChouJiangId: $("#ChouJiangId3").val(),
                            Count: $("#Count3").val(),
                            Description: $("#Description3").val(),
                            Name: $("#Name3").val(),
                            Type: 3,
                            ImageUrl: $("#imageCover3").attr("src"),
                            AreaId: "@ViewBag.id"
                        },
                    success: function (data, textStatus) {
                        if (data == "200") {
                            location.reload()
                        } else if (data == "100") {
                            alert("请重新编辑！");
                        } else {
                            alert("未知原因");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        location.reload()
                    },
                    error: function () {
                        alert("好像出错了，请刷新页面重试");
                    }
                })
        });
    </script>
    <script>
        $("#index").removeClass("open");
        $("#goodSet").addClass("open");
    </script>
}