@model YiTao.Modules.Bll.Models.ShangPin

@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i> 编辑商品
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" action="~/Management/ShangPin/CommonShangPinEdit" method="post"> 
                    @Html.HiddenFor(a => a.XiaoLeiId)
                    @Html.HiddenFor(a => a.ShangPinId)
                    <input type="hidden" value="@Model.XiaoLeiId" name="XiaoLeiId">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品名</label>
                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">返积分</label>
                            @Html.TextBoxFor(a => a.FanJiFen, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">月销量</label>
                            @Html.TextBoxFor(a => a.MonthlySales, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">促销价</label>
                            @Html.TextBoxFor(a => a.Price, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">原价</label>
                            @Html.TextBoxFor(a => a.YuanPrice, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品淘宝连接</label>
                            @Html.TextBoxFor(a => a.Url, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="hidden" value="@Model.ImageUrl" name="ImageUrl" id="inputCover">
                            <img id="imageCover" src="@Model.ImageUrl" />
                            <span id="uploadify" class="btn dark fileinput-button">
                            </span>
                        </div>
                        <div class="form-group">
                            <label>商品描述</label>
                            @Html.TextBoxFor(a => a.Description, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="">商品归属地</label>
                            <div class="checkbox-list">
                                @{
                                    List<int> belongsTo = ViewBag.BelongGuishudiIdList as List<int>;
                                    foreach (var item in (ViewBag.guishudi as List<YiTao.Modules.Bll.Models.Area>))
                                    {
                                        if(belongsTo.Contains(item.Id))
                                        { 
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="guishudi" checked value="@item.Id">@item.Name
                                        </label>
                                }
                                        else { 
                                            <label class="checkbox-inline">
                                            <input type="checkbox" name="guishudi" value="@item.Id">@item.Name
                                        </label>
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="">是否包邮</label>
                            <div class="radio-list">
                                @if (Model.BaoYou == 1)
                                {
                                    <label class="radio-inline">
                                        <div class="radio"><span><input type="radio" name="BaoYou" value="1" checked></span></div>是
                                    </label>
                                    <label class="radio-inline">
                                        <div class="radio"><span><input type="radio" name="BaoYou" value="2"></span></div> 否
                                    </label>
                                }
                                else
                                {
                                    <label class="radio-inline">
                                        <div class="radio"><span><input type="radio" name="BaoYou" value="1"></span></div>是
                                    </label>
                                    <label class="radio-inline">
                                        <div class="radio"><span><input type="radio" name="BaoYou" checked value="2"></span></div> 否
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn default">返回</button>
                        <button type="submit" class="btn blue">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p style="display:none" id="type">@ViewBag.type</p>
@section PageSpecificJavascriptIncludes{
    <script src="~/Scripts/uploadify-v3.1/jquery.uploadify-3.1.min.js"></script>
    <link href="~/Scripts/uploadify-v3.1/uploadify.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#uploadify').uploadify({
                uploader: '/Home/Upload',           // 服务器端处理地址
                swf: '/Scripts/uploadify.swf',    // 上传使用的 Flash
                //width: 60,                          // 按钮的宽度
                //height: 23,                         // 按钮的高度
                buttonText: "上传封面",                 // 按钮上的文字
                buttonCursor: 'hand',                // 按钮的鼠标图标
                fileObjName: 'Filedata',            // 上传参数名称
                // 两个配套使用
                fileTypeExts: "*.gif; *.jpg; *.png;*.bmp;*.jpeg;",             // 扩展名
                fileTypeDesc: "请选择 jpg png 文件",     // 文件说明
                auto: true,                // 选择之后，自动开始上传
                multi: false,               // 是否支持同时上传多个文件
                removeTimeout: 0,
                'onUploadSuccess': function (file, data, response) {
                    if (data == "error") {
                        alert('服务器错误，请重新上传');
                    } else {
                        $("#imageCover").attr("src", data);
                        $("#inputCover").attr("value", data);
                    }
                }
            });
        });
    </script>
<script type="text/javascript">
    function checkfun() {
        var obj = $("input[type='text']");
        $.each(obj, function (n, vaule) {
            if ($(obj[n]).val() == "") {
                alert("表单必须全都填写");
                return false;
            }
        })
        var obj1 = $("input[name='guishudi']:checked");
        if (obj1.length == 0) {
            alert("归属地不能为空");
            return false;
        }
        return true;
    }
</script>

<script>
    $("#index").removeClass("open");
    $("#goodSet").addClass("open");
</script>
}